.composition {
    position: relative;
    margin-left: 5rem;

    @include respond(tab-port) {
        margin-left: auto;
        margin-top: 8rem;
    }

    &__img {
        width: 45%;
        box-shadow: 0 1.5rem 4rem rgba($black,.4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        outline-offset: 1.5rem;
        transition: all .2s;

        @include respond(tab-port) {
            height: 15rem;
            width: 33.33%;
            position: relative;
		}

        &--1 {
            left: -2rem;
            top: -2rem;

            @include respond(tab-port) {
                top: 0;
                left: 0;
            }
        }

        &--2 {
            left: 6rem;
            top: 6rem;

            @include respond(tab-port) {
                top: 0;
                left: 0;
            }
        }

        &--3 {
            left: 15rem;
            top: 15rem;

            @include respond(tab-port) {
                top: 0;
                left: 0;
            }
        }

        &:hover {
            transform: scale(1.1) translateY(-.5rem);
            z-index: 20;
            box-shadow: 0 1.75rem 5rem rgba($black,.5);

            outline: 1rem solid $primary-dark;
        }

        &:hover &:__img:not(:hover) {
            transform: scale(0.9);
        }
    }
}