.contact {
    height: 53rem;
    background-image: radial-gradient(circle closest-corner at 75% 44%, transparent 0%, transparent 50%, rgba($primary-light-2,.4) 50%), url(../../css/img/contact-form-img-2.jpg);
    background-size: 100%;
    background-position: left 50%;
    border-radius: 3rem;
    box-shadow: 0 1.5rem 4rem rgba($black, .2);

    @include respond(tab-port) {
        background-image: radial-gradient(circle closest-corner at 75% 44%, rgba($primary-light-2,.4) 0%, rgba($primary-light-2,.4) 50%, rgba($primary-light-2,.4) 50%), url(../../css/img/contact-form-img-2.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
            padding: 3rem;
		}
    }
}